---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Sidebar from "../components/Sidebar.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, updatedDate, heroImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="bg-background text-foreground selection:bg-primary selection:text-background"
  >
    <main
      class="block lg:flex w-full lg:w-3/4 py-6 lg:pt-32 lg:pb-20 px-6 lg:px-12"
    >
      <Sidebar />
      <section class="w-full lg:w-2/3 p-4">
        <article>
          <div>
            {
              heroImage && (
                <img width={1020} height={510} src={heroImage} alt="" />
              )
            }
          </div>
          <div>
            <div class="py-6">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="text-accent">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
              <h1 class="font-bold">{title}</h1>
            </div>
            <slot />
          </div>
        </article>
      </section>
    </main>
    <Footer />
  </body>
</html>
